*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: aqua;
    padding: 25px;
}
.grid{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    /* column-gap: 20px;
    row-gap: 20px; */
    gap: 20px;
    height: 400px;
    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */
    /* align-items: center; */
    /* align-content: center;
    align-items: center; */

}

.child:nth-child(1){
    grid-area: header;
}
.child:nth-child(2){
    grid-area: menu;
}
.child:nth-child(3){
    grid-area: main;
}
.child:nth-child(4){
    grid-area: right;
}
.child:nth-child(5){
    grid-area: footer;
}
.child{
    background-color: red;
    /* height: 150px; */
}