*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
counter-reset: incremental;
}
ul{
    list-style-position: inside;
    list-style: none;
}
ul li{
    
}
ul li::before{
    /* content: "Noida"; */
    counter-increment: incremental;
    content: "Section " counter(incremental) ": ";
}