@import "variable";
// Header Start Here  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 30px 50px;

        .nav-logo {
            img {
                height: 100%;
                width: 100%;
            }   
        }

        .nav-link {
            ul {
                display: flex;
                align-items: center;
                gap: 40px;
                list-style: none;   

                li {
                    a {
                        text-decoration: none;
                        font-weight: 600;
                        color: #000;
                        font-size: 16px;
                        line-height: 1.11;
                        text-transform: uppercase;
                        
                        &.active {
                            color: $color-red;
                        }
                    }

                    &:last-child {
                        margin-left: 20px;

                        a {
                            span {
                                color: $color-red;

                            }
                        }
                    }
                }
            }
        }
    }
}

// Header Ends Here  

// Hero Section Start Here

